*::-moz-selection {
  background-color: #303030;
  color: #eeeeee;
}
*::selection {
  background-color: #303030;
  color: #eeeeee;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: #303030;
}

body {
  font-size: 16px;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #303030;
}

.page-wrapper {
  background-color: #fdfbfb;
  padding-bottom: 3.5rem;
}

.fluid-container {
  margin: 0 auto;
  width: min(1160px, 100%);
  padding: 0 0.9rem;
}

.title-container {
  padding: 4.5rem 2rem;
  border-bottom: 1px solid #ccc;
  background: rgb(226, 225, 240);
  background: linear-gradient(263deg, rgb(226, 225, 240) 0%, rgb(251, 234, 234) 47%, rgb(226, 225, 240) 100%);
  transition: padding 0.2s linear;
}
.title-container h1 {
  margin-bottom: 0;
  margin-inline: auto;
  font-weight: 500;
  font-size: clamp(2rem, 12vw, 4.6rem);
  text-transform: uppercase;
  color: #303030;
  border: 5px solid #303030;
  padding: 1rem 1.5rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

section.top {
  margin-bottom: 2.1rem;
}

.mode-switches {
  margin-top: 2rem;
}
.mode-switches .btn {
  border-color: #303030;
}
.mode-switches .btn:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.active-mode {
  background-color: #454545;
}

.active-mode .fa-sun-o {
  color: #fae185;
}

.active-mode .fa-moon-o {
  color: #00ADFF;
}

.search-card {
  border-color: #ccc;
}
.search-card .card-header {
  font-size: 1.2rem;
  background-color: #e5e7e7;
  border-bottom: none;
}
.search-card select:hover {
  cursor: pointer;
}
.search-card .toggle-holder {
  display: none;
}
.search-card .toggle-search-view {
  color: #303030;
  font-size: 2rem;
  float: right;
}
.search-card .form-control {
  background-color: #fafafa;
}
.search-card .form-control:focus {
  outline: none;
  box-shadow: none;
  border-color: #303030;
}
.search-card button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.stats-row {
  display: flex;
  justify-content: center;
  margin: 1.3rem 0;
  border: 1px solid #ccc;
}

.stats-row.total-counts {
  margin-bottom: 0;
}

.stats-row .stat-box:nth-child(1),
.stats-row .stat-box:nth-child(2) {
  border-right: 1px solid #ccc;
}

.stats-row .stat-box {
  text-align: center;
  padding: 0.3rem 0.5rem 0.9rem;
  flex: 1;
  background-color: #fff;
}
.stats-row .stat-box p {
  margin-bottom: 0;
}

.stat-box.modal-buttons {
  display: flex;
  justify-content: center;
  flex: 1;
  gap: 0.75rem;
}

span.stat-count {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-weight: 500;
  font-size: 2.4rem;
}

span.stat-label {
  display: block;
  font-weight: normal;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1;
}

a.stat-badge {
  display: block;
  font-weight: lighter;
  font-weight: 300;
  font-size: 0.8rem;
  transition: 0.2s;
}
a.stat-badge:hover {
  transition: 0.2s;
}

a.stat-badge i {
  font-size: 1.2rem;
  position: relative;
  top: 2px;
  left: 4px;
}

a.info-badge {
  color: #128091;
}
a.info-badge:hover {
  color: #106875;
}

a.disclaimer-badge {
  color: #d9534e;
}

.stats-row.top-stat {
  display: block;
  border: none;
}
.stats-row.top-stat a.stat-badge {
  display: inline;
  padding: 0.6rem 1.5rem;
  border-radius: 4px;
  text-align: center;
}
.stats-row.top-stat a.stat-badge:hover {
  color: #fff;
  text-decoration: none;
}
.stats-row.top-stat a.info-badge {
  border: 1px solid #128091;
}
.stats-row.top-stat a.info-badge:hover {
  background-color: #128091;
}
.stats-row.top-stat a.disclaimer-badge {
  border: 1px solid #d9534e;
}
.stats-row.top-stat a.disclaimer-badge:hover {
  background-color: #d9534e;
}

.top-stat,
.stats-row.top-stat .stat-box {
  border: none;
  background-color: transparent;
}

span.last-show-count {
  display: block;
  text-align: center;
  padding: 7px 20px;
  border: 1px solid #721c24;
  border-radius: 1px;
}

.year-wrapper {
  margin-bottom: 2.1rem;
}

.year-heading {
  background-color: #fdfbfb;
}
.year-heading h3 {
  font-size: 2.3rem;
  margin: 0;
  margin-bottom: 2.1rem;
  padding-block: 0.8rem;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.concert-row {
  margin-bottom: 15px;
}

.concert-row {
  transition: 0.4s;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 0.2rem;
  word-wrap: break-word;
}
.concert-row:hover {
  border-color: #303030;
  transition: 0.4s;
}

.concert-row .support {
  font-size: 1.2rem;
  color: #6b747b;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

span.venue {
  font-size: 1.2rem;
}

span.note {
  font-style: italic;
  display: block;
  margin-top: 10px;
  font-size: 0.85rem;
}

div.back-top {
  display: none;
  font-size: 1.8rem;
  background-color: #111111;
  border-radius: 50%;
  width: 60px;
  text-align: center;
  box-shadow: 0 2px 4px #303030;
  position: fixed;
  right: 15px;
  bottom: 50px;
  padding: 8px 0;
}
div.back-top a {
  position: relative;
  top: 0px;
  color: #ffffff;
}

footer {
  width: 100%;
  padding: 25px;
  color: #ffffff;
  background-color: #303030;
  font-size: 0.9rem;
  font-weight: 300;
  font-weight: lighter;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.stats-modal-title {
  margin-bottom: 25px;
  text-align: center;
  color: #ffffff;
  background-color: #303030;
  padding: 10px;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.stats-modal-row {
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

.stat-item-title {
  font-size: 1.2rem;
  font-weight: 500;
}

#artists_modal .stats-modal-title {
  margin-bottom: 10px;
}
#artists_modal p.note {
  margin-bottom: 25px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.column-date {
  background-color: #e5e7e7;
}

.venue-title {
  margin-bottom: 0;
}

.city-title, .band-title {
  margin-bottom: 5px;
}

.venue-city {
  font-size: 1rem;
}

.dark-mode {
  color: #eeeeee;
  background-color: #2e2e2e;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.dark-mode .title-container {
  border-bottom: #111111;
  background: rgb(226, 225, 240);
  background: linear-gradient(263deg, rgb(86, 86, 92) 0%, rgb(221, 206, 206) 47%, rgb(86, 86, 92) 100%);
}
.dark-mode .search-card .card-header {
  background-color: #444444;
  border-bottom-color: #777777;
}
.dark-mode .search-card .toggle-search-view {
  color: #dddddd;
}
.dark-mode .search-card .form-control {
  background-color: #303030;
  color: #dddddd;
  border-color: #777777;
}
.dark-mode .column-date {
  color: #fae185;
}
.dark-mode .stats-row .stat-box,
.dark-mode .concert-row,
.dark-mode .card {
  background-color: #3f3f3f;
  border-color: #777777;
}
.dark-mode .column-date {
  background-color: #505050;
  border-color: #777777;
}
.dark-mode .top-stat .stat-box {
  background-color: transparent;
  border: none;
}
.dark-mode a.stat-badge {
  color: #e0d7b6;
}
.dark-mode .list-group-item {
  border-color: #111111;
  color: #d3d3d3;
  background-color: #444444;
}
.dark-mode .concert-row:hover {
  border-color: #e0d7b6;
}
.dark-mode span.support {
  color: #d1bfbf;
}
@media only screen and (max-width: 737px) {
  .dark-mode .year-heading h3 {
    background-color: #3f3f3f;
    color: #fae185;
  }
}

.column-main h4:nth-child(2),
.column-main .support {
  display: block;
  margin-top: 0.5rem;
}

.column-main h4,
.column-main h4:only-of-type,
.column-main h4:empty,
.column-main .support:empty {
  margin: 0;
}

@media only screen and (max-width: 737px) {
  .title-container {
    padding: 3rem 0;
    transition: padding 0.2s linear;
  }
  .search-card {
    border-color: #999999;
    transition: display 0.2s linear;
  }
  .search-card .card-header {
    display: flex;
    align-items: center;
    border-color: #999999;
  }
  .search-card .toggle-holder {
    display: block;
    margin-left: auto;
  }
  .list-container {
    text-align: center;
  }
  .search-card .form-control, .search-card button {
    margin-bottom: 10px;
  }
  .list-group-item {
    color: #303030;
  }
  .year-heading h3 {
    font-size: 2.3rem;
    border: none;
    color: #fff;
    background-color: #303030;
  }
  .concert-row h4 {
    font-size: 1.55rem;
  }
  .support {
    font-size: 1.2rem;
  }
  .column-date {
    border-bottom: 1px solid #ccc;
    padding: 0.5rem;
    font-size: 1.1rem;
  }
  .show-date-day-big {
    display: none;
  }
  .column-venue {
    border-top: 1px solid #ccc;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-inline: auto;
  }
  .column-main,
.column-venue {
    padding: 0.75rem 0.5rem;
  }
}
@media only screen and (min-width: 738px) {
  .year-heading {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
  }
  .concert-row {
    display: flex;
    align-items: flex-end;
    padding: 0;
    justify-content: space-between;
  }
  .column-date {
    flex: 0 0 13.666667%;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
    border-right: 1px solid #ccc;
    line-height: 1;
  }
  .show-date-month {
    font-size: 1.3rem;
    position: relative;
    right: -0.125rem;
  }
  .show-date-day-big {
    font-weight: bold;
    font-weight: 500;
    font-size: 2.1rem;
  }
  .show-date-day-sm,
.show-date-year {
    display: none;
  }
  .column-main,
.column-venue {
    padding: 1.25rem;
  }
  .column-main {
    flex: 0 0 44.666667%;
  }
  .column-venue {
    flex: 0 0 38.666667%;
  }
}
@media only screen and (max-width: 470px) {
  .stats-row {
    flex-direction: column;
  }
  .stats-row .stat-box:nth-child(1),
.stats-row .stat-box:nth-child(2) {
    border-bottom: 1px solid #ccc;
    border-right: none;
  }
  .stats-row.top-stat .stat-box {
    border-bottom: none;
  }
  span.stat-count {
    margin-bottom: 0.5rem;
    font-size: 1.8rem;
  }
  span.stat-count.band-count {
    margin-bottom: 1rem;
  }
  span.stat-label {
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 425px) {
  .stat-box.modal-buttons {
    flex-direction: column;
  }
  a.stat-badge i {
    left: 0;
  }
}
@media only screen and (max-width: 330px) {
  .stats-row.top-stat a.stat-badge {
    display: inline;
    padding: 0.6rem;
  }
}/*# sourceMappingURL=styles.css.map */